body {
  margin: 0;
  overflow: hidden;
  background-image: url("wedbenny.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  cursor: none;
  background-color: #000;
}

#paw,
#slingshot,
#mouse {
  position: absolute;
}

#paw {
  width: 0.520833333in;
  height: 0.520833333in;
  pointer-events: none;
  z-index: 1000;
}

#mouse {
  width: 56.25pt;
  height: 75pt;
  z-index: 1;
}

#mouse.dead {
  width: 18.75pc;
  height: 25pc;
  z-index: 1100;
}

#slingshot {
  top: 60%;
  left: 51.6%;
  width: 6.25pc;
  transform: translate(-50%, -50%);
}

#score,
#target {
  position: fixed;
  top: 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  z-index: 1100;
}

#score {
  left: 0;
}

#target {
  left: 0.947916667in;
}

#victory,
#maker-btn {
  position: fixed;
  z-index: 1100;
}

#victory {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5pc;
  background: rgba(51, 51, 51, 0.41);
  padding: 15pt;
  border: 1px solid #000;
  border-radius: 0.166666667in;
  color: #000;
}

#maker-btn {
  bottom: 10px;
  left: 0.625pc;
  background-color: #000;
  color: #a3a3a3;
  font-size: 0.166666667in;
  padding: 11.25pt 0.104166667in;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3.75pt;
  cursor: pointer;
  transition: background 0.3s;
}

#maker-btn:hover {
  background-color: #145dbf;
}
